/* Variables */

:root {
  --basic-color: #F1F5F7;
  --basic-extra: #32425C;
  --basic-dark: #000000;
  --basic-neutral: #e5e5e5;
  --popular: #F9F5F0;
  --basic-white: #ffffff;
  --special: #32425C;
  --basic-red: #EE3643;
}

/* Global */

body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  background-position: top center;
  background-repeat: no-repeat;
} 

img {
  max-width: 100%;
  height: auto;
}
a{
	text-decoration: none;
	color: var(--basic-white);
}
li{
	list-style-type: none;
}
h2{
	font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #32425C;
}
h3{
	font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--basic-dark);
}
.main-header{
     background-color: #F1F5F7

}
.main-header-logo{
	background: #EE3643;
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}
.header-button{
	background-color: #63A63E;
}
.header-description{
	font-family: Cuprum;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
/* or 144% */
    display: flex;
    align-items: center;
    color: #EE3643;
}
.header-paragraph{
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--basic-extra);
}
.login-link{
	font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
	background: url(Layer 123.png);
}
.registration-link{
	font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
.header-list{
	background-color: #293449;
	color: white;
}
.header-item{
	font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
	color: var(--basic-white);
}
.contacts-header{
	background: #F3F7F9;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
	color: red;

}

/* Main navigation */
.main-navigation {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: #32425C;
}

.main-navigation-wrapper {
  background-color: var(--basic-black);
}
.site-navigation {
  list-style: none;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-black);
}

/* User navigation */


.site-navigation a,
.user-navigation a {
  color: var(--basic-white);
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: var(--basic-extra-dark);
}
.popular{
	background:var(--popular);
}

/* Features */
.background-color1{
	background-color: #FFBF47;
}
.background-color2{
	background-color: #3BBCE3;
}
.background-color3{
	background-color: #DC91D8;
}
.background-color4{
	background-color: #8ED78F;
}
.background-color5{
	background-color: #FFBF47;
}
.features-list {
  list-style: none;
}

.feature-item {
  font-family: Cuprum;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.feature-item h3 {
  font-family: Cuprum;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.feature-item a {
	
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.productbutton{
background-image: url(../img/red-button.png);
}
.index-columns {
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
  background-image: url("../img/pattern-light.jpg");
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
}

.index-columns h2 {
  font-size: 30px;
  line-height: 42px;
}
.popular-content {
	background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
}
.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-black);
  border: none;
}

/* service-list */
.service-list{
  background: rgba(0, 0, 0, 0.0001);
  mix-blend-mode: normal;
  opacity: 0.25;
}

.service-item{
	font-family: Cuprum;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    display: flex;
    align-items: center;
}

/* Contacts */

.contacts-phone {
  color: inherit;
}

/* Appointment */

.appointment-item input {
  font: inherit;
  background-color: transparent;
  border: 2px solid var(--basic-black);
}

.appointment-item input:focus {
  border-color: var(--special);
}
.service{
	background-color: var(--basic-color);
}
.main-footer {
background-color: var(--special);
}
.footer-paragraph{
	font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
	color: var(--basic-white);
}
.footer-nav-top{
	font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #F1F5F7;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 58px;
    color: var(--basic-white);
}
.footer-contacts a {
  color: var(--basic-white);
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.footer-social h2 {
  font-size: 14px;

}
.button-red{
	background-color: var(--basic-red);
}

/* Social button */

.bottomfooter{
background: #293449;
}
.footer-nav-bottom{
	font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #FFD180; 
}
/* Social button */

.social-button {
  color: inherit;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-white);
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.modal {
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
  background-image: url("../img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-login h2 {
  font-size: 30px;
  line-height: 42px;
}